body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 30px;
    color: #333;
}

p {
    color: #555;
    font-size: 18px;
}

/* GALERI */
.gallery {
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
    margin-top: 30px;
}

.image-container img {
    width: 300px;
    height: 200px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover effect */
.image-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
